name: ReaPack Indexer

on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'

      - name: Install reapack-index
        run: gem install reapack-index

      - name: Run reapack-index
        uses: cfillion/reapack-index@v1.3
        with:
          version: 1.2.3
          token: ${{ secrets.GITHUB_TOKEN }}
