name: ReaPack Indexer

on:
  push:
    branches: [main, master]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run reapack-index
        uses: cfillion/reapack-index@v1
        with:
          version: 1.2.3
          token: ${{ secrets.GITHUB_TOKEN }}
